.se-tab-content {
    padding: 0 15px;

    .plugin {
        margin-bottom: 5px;

        &:last-child {
            margin-bottom:50px;
        }
    }
}

.plugin {
  h2 {
    padding: 8px 0 0 0;
    font-size: 80%;
    font-weight: normal;
    opacity: 0.9;
  }
}
