.im-blocknode__container {
    display: inline-block;
    text-decoration: none;
    width: 100%;
    padding: 8px;
    border-radius: 3px;
    border: 1px solid #ddd;

    .header {
        padding: 0 2px 0 0;
        margin: 0 0 5px 2px;
        border-radius: 5px 5px 0 0;
        font-size: 0.9rem;
        text-decoration: none !important;

        .fa {
            color:rgb(32, 121, 220);
            width:18px;
        }

        strong {
            font-weight: 300;
            color: #444;
        }
    }

    .im-blocknode__content {
        margin-left: 20px;

        &.full-width {
            margin-left:0;
        }

        iframe {
            max-width: 100% !important;
        }
    }


    & + .se-blocker {
        &:hover {
            box-shadow: rgba(0, 0, 0, 0.498039) 0px 0px 1px 0px, rgba(0, 0, 0, 0.14902) 0px 1px 10px 0px;
            border-radius: 3px;
            margin-bottom: 10px;
            border: 1px solid #fff;
            .header {
                .remove-button {
                    opacity: 1;
                }
            }
        }
    }
}

/*
 * Isolated node overrides
 */
 .sc-isolated-node.sm-default-style,
 .sc-isolated-node {
    margin-bottom: 15px;
    position: relative;

    .se-container {
        outline: none;
    }

    &.sm-selected,
    &.sm-focused {
        outline: none;
        background-color: rgba(163, 205, 253, 0.2);

        .im-blocknode__container {
            border-color: rgba(163, 205, 253, 0);
        }

        &:before {
            content: " ";
            z-index: -1;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            border: 2px solid rgba(163, 205, 253, 0.8);
            border-radius: 4px;
        }
    }

    &.sm-focused {
        background-color: inherit;
    }
 }


.sc-isolated-node.sm-default-style.sm-co-selected > .se-container,
.sc-isolated-node.sm-default-style.sm-selected > .se-container {
    outline: none;
}
